@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
    --default-color: #e0dad1a0;;
    --default-color-dark: #181818;
    --default-color-strong: #e0dad1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
    font-family: 'Handlee', cursive;
    font-size: 16px;
    background-color: var(--default-color-dark);
    color: var(--default-color);
    min-height: 100vh;
}